/* *****************général**************** */
body {
    background: linear-gradient(to bottom, #5c5857 480px, white 480px, white 990px, #5c5857 990px );
    margin-top: 0px;  
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
}

/* -----------------le haut----------------- */
.wrapper {
    width: 800px; /* la largeur du contenu qui se trouve dedant fera 800px */
    /*margin: 60px 10% 80px 10%;*/
    margin: auto; /* trop content d'avoir troouvé ca*/
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

header {
    position: relative; /* c'est la position maitre  (Image + texte) */

    display: flex;   /* rendre la position flexible  (Image + texte) */  
    justify-content: center;  /* centrer  (Image + texte) */

    margin-top: 100px; /* marge du dessu  (Image + texte) */  
    width: 100%;  /* 100% de la largeur utilisé par l'image. pourquoi pas par le texte aussi ? */  
    height: 250px; /* 250 px de hauteur (Image + texte) */  
    
    background-image: url('Image/3.jpg'); /* on ajoute cette image dans le header  */  
    background-repeat: no-repeat; /* l'image ne se duplique pas  */
    background-size: cover; /* l'image s'addapte au header et au wrapper  */

    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
}

header .title {
    position: absolute; /* position du texte dévérouillé  */
    display: flex; /* rendre le texte flexible */
    align-items: center; /* centrer le texte */

    margin-top: -80px; /* faire sortire le texte du wrapper */

    width: 200px; /* largeur du texte = 200px */
    height: 150px; /* Hauteur du texte = 200px */

    background-color: #FFFFFFC0;

    border: 1px solid #000;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);

    font-family: 'The Artisan' ;
    font-size: 34px;
    text-align: center;
    font-weight: lighter;
    line-height: 1em;
    font-weight: bold;
    
}
/* -----------------le haut FIN----------------- */

/* *****************le centre**************** */
.fond_blanc {
    background-color:white;
    max-width: 800px;  
}

.pagner {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 10px; 
}

.centre_ok {
    text-align: center;
    width: 100%;
}

.decouvrez_nos_produits {
    font-family: 'The Artisan';
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 0px ;
    font-weight:bold ;
}

hr {
    width: 200px;
    height: 1px;
	border: 0;

	color: black;
	background-color: black;

    margin: 20px auto 60px;
}
hr:last-of-type {
    margin-bottom: 0;
    margin-top: 0px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 350px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2); 
}

.card:hover .name {
    height: 100%;
    border: 1px solid #000;

}

.card img {
    display: block;
    width: 100%;
}

.card .name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 60px;
    width: 100%;
    margin: 0;
    bottom: 0;
    
    background-color: #FFFFFFC0;
    font-family: 'The Artisan';
    font-size: 30px;
    font-weight: bold;
     
    
    transition: height 200ms ease-in-out;
}

.card a {
    text-decoration: none;
    color: black;
   
}

.atelier {

    margin-top: 40px;
    text-align: center;
   
   
}



div.separateur {
    /*width:100px  ;*/
    height: 1px ;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 500px;
    margin-bottom: 0px;
    display: inline-block;

}




/* *****************le centre FIN**************** */

/* -----------------le bas----------------- */
footer {
    display: flex;
    justify-content: space-around;

    padding: 30px 0 10px;
    margin: 0;
    background: #fff;
    font-family: 'Autography';
    font-size: 28px;
    
    
}

footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 150px;
    text-align: center;
    line-height: 1;
    
}

.info .icon-background:hover {
    border-color: black;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1); 
}



footer .info .icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    height: 50px;
    width: 100px;
    margin-bottom: 15px;

    
    background-color: #e7e6e6;
    border-radius: 8px;
   
}

footer .info img {
    width: 40px;
    height: auto;
}



/* -----------------le bas FIN----------------- */
@media only screen and (max-width: 768px) {

    body {
        background: #5c5857;
    }

    .fond_blanc {
        max-width: 400px;  
    }

    .wrapper {
        width: 400px; /* la largeur du contenu qui se trouve dedant fera 800px */
        
    }

    footer .info .icon-background {
        width: 50px;
          
    }

    footer {
   font-size: 22px;

    }

    div.separateur {   
        width: 100px;
    }

    .pagner {
        height: 15px;
        width: 15px;
        float: right;
        margin-right: 20px;
        margin-top: 10px; 
    }



}